/*
------------------------------------
| HEADER
------------------------------------
*/
.header {
  background-color: #222222;
}

.header__inner {
  width: 100%;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 44px;
  height: 42px;
}

.header__right {
  margin-left: auto;
}

.header__search {
  width: 150px;
  height: 41px;
  padding-left: 32px;
}

.header-search {
  background-image: url('./../images/svg/icon-search.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  padding: 12px 12px;
  border: solid 1px transparent;
  border-radius: 20px;
  background-position: 8px 9px;
  padding-left: 40px;
  color: #fff;
  transition: all .3s linear;
  position: absolute;
  width: 41px;
}

.header-search:focus {
  border-color: #fff;
  width: 300px;
}

.header__card-num {
  display: inline-block;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 19px;
  background-color: #F16D7F;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -10px;
}

.header__menu-btn {
  margin-right: 30px;
}

.header__user-link {
  display: inline-block;
  margin-right: 30px;
}

.header__card-link {
  width: 32px;
  height: 29px;
  margin-top: 5px;
  display: inline-block;
  margin-right: 10px;
}

@media(max-width: 767px) {
  .header__user-link,
  .header__card-link {
    display: none;
  }

  .header__menu-btn {
    margin-right: 0;
  }

  .header-search:focus {
    border-color: #fff;
    width: 170px;
  }
}


/*
------------------------------------
| Home-BANNER
------------------------------------
*/
.home-banner {
  background-color: #F1E4E6;
  overflow: hidden;
}

.home-banner__inner {
  
}

.home-banner__item {
  width: 100%;
  min-height: 368px;
  padding-top: 12px;
  display: flex;
  flex-wrap: wrap;
}

.home-banner__item-img {
  width: 50%;
  height: 751px;
}

.home-banner__item-img>img {
  height: auto;
  width: 386px;
  position: absolute;
  bottom: -4px;
  left: -5px;
}

.home-banner__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  text-transform: uppercase;
  padding-bottom: 108px;
  padding-right: 6px;
}

.home-banner__item-text-content {
 /* margin-left: auto;*/
}

.home-banner__item-text-content::before {
  content: "";
  position: absolute;
  width: 12px;
  height: calc(100% + 10px);
  background-color: #F16D7F;
  left: -30px;
  top: -5px;
}
.home-banner__item-sub-title {
  width: 100%;
  font-size: 2rem;
  font-family: "Loto-Bold", sans-serif;
  line-height: 1.8rem;
  color: #222222;
}

.home-banner__item-sub-title>mark {
  color: #F16D7F;
}

@media(max-width: 960px) {
  .home-banner__item-img {
    width: 50%;
    height: 360px;
  }

  .home-banner__item-img>img {
    width: initial;
    left: calc(50% - 183px);
  }
}

@media(max-width: 767px) {

  .home-banner__item-img {
    display: none;
  }

  .home-banner__item-text {
    width: 100%;
  }
}




/*
------------------------------------
| CATEGORIES
------------------------------------
*/
.categories {
  padding-top: 65px;
}

.categories__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item-link {
  display: block;
  background-color: rgba(33, 22, 22, 0.7);
  margin-bottom: 20px;
}


@media(min-width: 320px) {
  .categories__list {
    justify-content: center;
  }

  .categories__item-link {
    width: 343px;
    height: 247px;
  }

  .categories__item--full {
    width: 100%  !important;
  }
  
  .categories__item-link--full {
    width: 100%  !important;
    height: 180px !important;
  }
}

@media(min-width: 414px) {
  .categories__list {
    justify-content: space-between !important;
  }
  .categories__item-link {
    width: 232px;
    height: 167px;
  }
  
}

@media(min-width: 960px) {
  .categories__item-link {
    width: 360px;
    height: 260px;
  }
}



/*
------------------------------------
| PRODUCTS
------------------------------------
*/
.products {
  padding-top: 95px;
  padding-bottom: 95px;
}

.products__title {
  text-align: center;
}

.products__sub-title {
  text-align: center;
  margin-bottom: 48px;
  color: #9F9F9F;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  margin-bottom: 30px;
}

.products__item-link {
  display: block;
  width: 360px;
  height: 580px;
  overflow: hidden;
}

.products__item-img {
  height: 420px;
  line-height: 420px;
  text-align: center;
  overflow: hidden;
}
.products__item-img>img {
  display: inline-block;
}

.products__item-infos {
  height: 160px;
  background-color: #F8F8F8;
  padding: 25px 18px 18px;
}

.products__item-name {
  font-size: 0.813rem;
  line-height: 0.813rem;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.products__item-desc {
  color:#5D5D5D;
  margin-bottom: 18px;
}

.products__item-price {
  color: #F16D7F;
}


@media(max-width: 960px) {
  .products__list {
    justify-content: center;
  }
  .products__item {
    margin: 0 6px 30px;
  }
}


@media(max-width: 414px) {
  .products__item-link {
    width: 100%;
    height: auto;
  }

  .products__item-img {
    height: auto;
    line-height: initial;
  }

  .products__item-infos {
    height: auto;
  }
}

/*
------------------------------------
| SERVICES
------------------------------------
*/
.services {
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  width: 305px;
  text-align: center;
}

.services__item-img {
  height: 40px;
  margin-bottom: 28px;
}

.services__item-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
  color: #FBFBFB;
}
.services__item-text {
  color: #FBFBFB;
  font-size: 0.875rem;
}

@media(max-width: 960px) {
  .services__list {
    justify-content: center;
  }

  .services__item {
    margin: 0 6px 20px;
  }
}


/*
------------------------------------
| ABOUT
------------------------------------
*/
.about {
  min-height: 448px;
  background-image: url('./../images/upload/bg-about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.7);
  z-index: 4;
}



/*
------------------------------------
| FOOTER
------------------------------------
*/

.footer {
  min-height: 79px;
  background-color: #222224;
}